@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-geist-sans), sans-serif;
}

.mono-font {
  font-family: var(--font-geist-mono), monospace;
}
